{
  # Copy this file to secrets.nix and fill in your actual secrets

  nas = {
    share = "YOUR_NAS_SHARE_NAME";
    username = "YOUR_NAS_USERNAME";
    password = "YOUR_NAS_PASSWORD";
    ip = "YOUR_NAS_IP";
  };

  # Add other secrets here as needed
  # example:
  # wifi = {
  #   ssid = "MyNetwork";
  #   password = "wifipass";
  # };
}
