/* Everything unset globally */
* {
  all: unset;
  font-family: "JetBrainsMono NF", monospace;
  font-size: 22px;
  text-shadow: none;
  background-color: transparent;
}

/* Window */
window {
  padding: 20px;
  border-radius: 0px;
  background-color: alpha(#000000, 0.6);
}

/* Layout containers */
#outer-box {
}

#scroll {
  margin: 0px;
  padding: 30px;
}

/* Input */
#input {
  margin: 20px 20px -20px;
  padding: 20px;
  color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  background-color: alpha(#000000, 0.1);
}

#input image {
  color: #909090;
  padding-right: 10px;
  margin-right: 10px;
}

/* Entry text */
#text {
  font-size: 20px;
  margin: 5px;
  color: #f0f0f0;
}

/* Entries */
#entry {
  font-weight: normal;
  margin: 5px;
  padding: 13px 10px;
}

#entry #text {
  padding-left: 10px;
}

#entry arrow {
  color: #ffffff;
}

/* Selected state */
#entry:selected #text {
  color: #ffffff;
  font-weight: bold;
}


